@inject SignInManager<AppUser> SignInManager
@using Microsoft.AspNetCore.Identity
@model ProfileSummaryDTO

<h4>Profile Summary</h4>

<div class="card">
    <div class="card-header">
        <img src="@Model.ImagePath" class="card-img-top" width="260" height="260" />
    </div>
    <div class="card-body">
        <h3 class="card-title">@Model.Name</h3>
        <h3 class="card-title">@Model.UserName</h3>

        @if (SignInManager.IsSignedIn(User) && User.Identity.Name != Model.UserName)
        {
            @await Component.InvokeAsync("FollowUser", new { UserName = @Model.UserName })
        }
        else if (SignInManager.IsSignedIn(User) && User.Identity.Name == Model.UserName)
        {
            <a asp-controller="Account" asp-action="EditProfile" asp-route-username="@User.Identity.Name">Settings</a>
        }

        <ul class="list-group">
            <li class="list-group-item">@Model.TweetCount - Tweets</li>
            <li class="list-group-item" id="FollowersCount">
                @Model.FollowerCount - Following
                <a asp-controller="Profile" asp-action="Followers" asp-route-username="@Model.UserName" class="btn btn-sm btn-warning">Following</a>
            </li>
            <li class="list-group-item" id="FollowingsCount">
                @Model.FollowingCount - Follower
                <a asp-controller="Profile" asp-action="Followings" asp-route-username="@Model.UserName" class="btn btn-sm btn-info">Follower</a>
            </li>
        </ul>
    </div>
</div>
<script>
    var FollowersCount = @Model.FollowerCount;
    var FollowingsCount = @Model.FollowingCount;
</script>
